//classroom style sheet

@import "compass/css3"; //includes mixins for writing cross-browser CSS3 rules
@import "compass/reset"; //resets page style to defaults

$color1: rgba(154, 210, 203, 1);
$color2: rgba(215, 235, 186, 1);
$color3: rgba(254, 255, 190, 1);
$color4: rgba(235, 212, 148, 1);
$color5: rgba(71, 40, 54, 1);
$maroon: rgba(163, 22, 33, 1);
$color6: rgba(191, 219, 247, 1); //lightblue
$color7: rgba(5, 60, 94, 1); //darkblue
$midblue: rgba(31, 122, 140, 1);
$red: rgba(219, 34, 42, 1);


$nav-border:$color2;
$nav-cl:$color5;
$hd-ft-cl:$color3;
$body-cl:$color2;
$bar-cl:$color5;
$title-cl:$color1;

//Original CSS from HTML I wrote:
			
			blockquote {
				background: #dcd1e1;
				border-left: 10px solid #5A0B4D;
				margin: 1.5em 10px;
				padding: 0.5em 10px;
				quotes: "\201C""\201D""\2018""\2019";
				FONT-SIZE:14px; 
				font-style: italic; 
				COLOR: Black; 
				LINE-HEIGHT:16px; 
				FONT-FAMILY:Helvetica,"Arial Narrow",sans-serif;
			}
			
			code {
				FONT-SIZE:12px;
			}
			
			mark {
				background-color: #ccf5ff;
				color: black;
			}
			
			.rcorners {
				border-radius: 25px;
				background: $color6;
				padding: 1px 20px 1px; 
			}


//Include padding and border in the element's total width and height

* {
    box-sizing: border-box;
}

html	{
		
	h1, h2, h3 {
		font-family: Bitter, Georgia, serif;
		padding: 0 1em;
		
		
		h1 {
			font-size: 3em;
		}

		h2 {
			font-size: 2em;
		}

		h3 {
			font-size: 2em;
		}
	}
}

//Make a navigation bar:

	.nav {
		background-color: $nav-cl;
		font-family: arial, tahoma;
		font-weight: bold;
		border-bottom: 2px solid $nav-border;
		border-top: 2px solid $nav-border;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li {
			border-right: 2px solid $nav-border;
			float: left;
		}

		li:last-child {
			border-left: 2px solid $nav-border;
			float: right;
		}

		a {
			height: 40px;
			color: $nav-border;
			display: block;
			padding: 8px;
		}

		/* Change the link color to #111 (black) on hover */
		li a:hover {
			text-decoration: none; //removes underline for links
			background-color: $body-cl;
			color:$color5;
		}
	}

//All the boxes	that will contain website elements

.box {
	border-radius: 25px;
	color:$nav-cl;
	margin: auto;
	margin: 0.5em;
	background: $color6;
	padding: 20px 20px 20px;
	display: inline-block;
}


.body-box {
	@include transition(all .15s ease);
	max-width: 75%;
	border-radius: 25px;
	background: $color6;
	@include inline-block();
	margin: .5em;
	padding: 0px 10px 10px 10px;	

	a {
		float: middle;
		color: $color5;
		display: block;
		padding: 0px 10px 20px 10px;
		overflow: auto;
	}
	
	.box {
		width: 80%;
		background-color: $hd-ft-cl;
		margin: 0.5em;
		padding: 0px 0px 0px 0px;
		
		a:hover {
            @include scale(1.25);
            color: grey;
			text-shadow: 0px 0px 10px;
			text-decoration: none; //removes underline for links
			color:$color5;
		}
	}
	
}


@media only screen and (max-width: 1000px) {
	.body-box {
        max-width: 100%;
    }
}

//Header, footer, bar (section divider) styling

.header,
.footer {
	text-align: center;
	background: $hd-ft-cl;
	padding: 1em 1em 1em;
	color: $color5;
	font-style: italic;
		#tagline {
			color: $color5;
			font-style: normal;
		}
}

.bar {
	overflow: auto;
	color: $hd-ft-cl;
	height: 80px;
	background: $bar-cl;
	width: 100%;
	margin: auto;
}

//Styling for avatar in header

.avatar {
    @include box-shadow(0 0 10px 4px $nav-cl, 0 0 12px 6px $hd-ft-cl, 0 0 14px 10px $color2);
    @include border-radius(50px); // half the avatar size
    width: 150px;
    height: 150px;
}

//Making main body formatting
section {
	background-color: $body-cl;
	border-top: 1px solid $body-cl;
	border-bottom: 1px solid $body-cl;
	border-collapse:collapse;
	padding: 0.5% 0.5% 0.5% 0.5%;
}

body {
	text-align: center;
	font: 1em/1.5 Georgia, serif;
}

//All of the following is used for the footer

//Icons for footer
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uhpmsn');
  src:  url('fonts/icomoon.eot?uhpmsn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uhpmsn') format('truetype'),
    url('fonts/icomoon.woff?uhpmsn') format('woff'),
    url('fonts/icomoon.svg?uhpmsn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-linkedin:before {
  content: "\eac9";
}

#contact {
			background: #73A6AD;
			padding: 40px 20x 20px 20x;
			max-width:520px;
			border-radius: 25px;
			margin: auto; //This margin: auto; actually does something
			color: $color5;
}


#linked {
			background: #68B684;
			padding: 20px 15px 20px 15px;
			border-radius: 25px;
}

#email {
			background: $color2;
			padding: 20px 15px 20px 15px;
			border-radius: 25px;
}

#phone {
			background: #95E06C;
			padding: 20px 15px 20px 15px;
			border-radius: 25px;
}

//I need to figure out how to get links to apply to entire box (above)		
.social {
	
    margin:2em 0;
 
    li {
		font-size:1.5em;
		color:$color5;
		
        position: relative;
        @include inline-block();
        margin: .5em;
        @include transition(all .15s ease);
 
        &:hover {
            @include scale(1.25);
            color: grey;
			text-shadow: 0px 0px 10px;
			
			//tried to make the background change color but it's not working
			#phone #email #linked {
				background: #36454f;
			}   
		}
 
        &:before {
            position: absolute;
            width: 2em; /* center align technique, give width, negative half margin */
            margin-left: -1em;
            top: 0m;
            left: 50%;
        }
 
        a {
            display: block;
            color: inherit;
			font-family: Tahoma, Georgia, serif;
            padding: 1.50em 0em 0em;
            width: 6em;
            // allow truncation if needed
 //           overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
