@import "compass/css3"; //includes mixins for writing cross-browser CSS3 rules
@import "compass/reset"; //resets page style to defaults

//$shadow-color: #FFF;
//$inner-color: #CCC;
//$outer-color: #333;

$shadow-color: #003366;
$inner-color: #660066;
$outer-color: #330033;

$maroon: rgba(163, 22, 33, 1);
$lightblue: rgba(191, 219, 247, 1);
$darkblue: rgba(5, 60, 94, 1);
$midblue: rgba(31, 122, 140, 1);
$red: rgba(219, 34, 42, 1);

$nav-border:$midblue;
$nav-background:$darkblue;

//Include padding and border in the element's total width and height
* {
    box-sizing: border-box;
}

//Make a navigation bar:
.nav {
	background-color: $nav-background;
	font-family: arial, tahoma;
	font-weight: bold;
	border-bottom: 2px solid $nav-border;
	border-top: 2px solid $nav-border;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		border-right: 2px solid $nav-border;
		float: left;
	}

	li:last-child {
		border-left: 2px solid $nav-border;
		float: right;
	}

	a {
		height: 40px;
		color: white;
		display: block;
		padding: 8px;
	}

	/* Change the link color to #111 (black) on hover */
	li a:hover {
		text-decoration: none; //removes underline for links
		background-color: $midblue;
		color:white;
	}
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
//	margin: auto;
	  max-height: 378px;
	  max-width: 600px;
}

.carousel {
	max-width: 600px;
//	margin: auto;
}

//my box scheme is way too complicated.
//I can streamline this with embedded boxes

.box {
	border-radius: 25px;
	color:white;
	background: $maroon;
	padding: 20px 20px 20px;
	display: inline-block;
}

.body-box {
	border-radius: 25px;
	background: $lightblue;
	@include inline-block();
	max-width: 30%;
	margin: .5em;
	padding: 5px 20px 5px; 
}

.head-box {
	border-radius: 25px;
	color: white;
	text-align: center;
	background: $red;
	padding: 0.2em;
	float: center;
	margin: auto;
	width: 95%;
	
	h2 {
	margin: 0.2em;
	font-size: 1.5em;
	text-aling: center;
	font-style: italic;
	}
	
	p {
	font-size: 1em;
	}
}

@media only screen and (max-width: 600px) {
	.body-box {
        max-width: 100%;
    }
}


@media only screen and (max-width: 1000px) and (min-width: 600px) {
	.body-box {
        max-width: 45%;
    }
}

.project-box {
	opacity: 0.9;
	border-radius: 25px;
	background: $lightblue;
	max-width:520px;
//	margin: auto;
	padding: 2px 0px 15px 0px;
	
	a {
		text-decoration: none; //removes underline for links
		display: inline-block;
		color:black;
	}
}

html {
	
	p {
		font-size: 1.25em;
	}
	
	h1, h2, h3 {
		font-family: Bitter, Georgia, serif;
		padding: 0 1em;
		
		h1 {
			font-size: 3em;
		}

		h2 {
			font-size: 2em;
		}

		h3 {
			font-size: 2em;
		}
	}
}


.header,
.footer {
    background: $red;
    padding: 1em 1em 1em;
}

.bar {
    height: 40px;
    background: $darkblue;
//    margin: auto;
}


.avatar {
    @include box-shadow(0 0 10px 4px $darkblue, 0 0 12px 6px $red, 0 0 14px 10px $maroon);
    @include border-radius(50px); // half the avatar size
    width: 150px;
    height: 150px;
}

//why does is it ".header" and .avatar but just, h1, "body" and a?
//.avatar makes sense because it's a class, but header?

section {
	background-color: $midblue;
	border-top: 1px solid $midblue;
	border-bottom: 1px solid $midblue;
	border-collapse:collapse;
	padding: 0.5em 0.5em 0.5em;
}

body {
	text-align: center;
	font: 1em/1.5 Georgia, serif;
	color: #black;
	background:$midblue
}


a {	
	text-decoration: none; //removes underline for links
}

img {
  max-width: 100%;
  height: auto; //responsive image size
}

//All of the following is used for the footer

//Icons for footer
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uhpmsn');
  src:  url('fonts/icomoon.eot?uhpmsn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uhpmsn') format('truetype'),
    url('fonts/icomoon.woff?uhpmsn') format('woff'),
    url('fonts/icomoon.svg?uhpmsn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-linkedin:before {
  content: "\eac9";
}

#contact {
			background: #77b3ee;
			max-width:520px;
			padding: 20px 15px 20px 15px;
			border-radius: 25px;
			margin: auto; //This margin: auto; actually does something
			color: white;
}


#linked {
			background: $darkblue;
			padding: 20px 15px 20px 15px;
			border-radius: 25px;
}

#email {
			background: $maroon;
			padding: 20px 15px 20px 15px;
			border-radius: 25px;
}

#phone {
			background: $midblue;
			padding: 20px 15px 20px 15px;
			border-radius: 25px;
}

//I need to figure out how to get links to apply to entire box (above)		
.social {
	
    margin:2em 0;
 
    li {
		font-size:1.5em;
		color:white;
		
        position: relative;
        @include inline-block();
        margin: .5em;
        @include transition(all .15s ease);
 
        &:hover {
            @include scale(1.25);
            color: grey;
			text-shadow: 0px 0px 10px;
			
			//tried to make the background change color but it's not working
			#phone #email #linked {
				background: #36454f;
			}   
		}
 
        &:before {
            position: absolute;
            width: 2em; /* center align technique, give width, negative half margin */
            margin-left: -1em;
            top: 0m;
            left: 50%;
        }
 
        a {
            display: block;
            color: inherit;
			font-family: Tahoma, Georgia, serif;
            padding: 1.50em 0em 0em;
            width: 6em;
            // allow truncation if needed
 //           overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
