<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "style.css" %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

</head>
<body><div class="container">
<h1>Sprint 3: Making User Login Interface</h1>
<em>April 28, 2018 at 6:21pm</em>

<p>After reading through the <a href="https://wsvincent.com/django-user-authentication-tutorial-login-and-logout/">Django Login/Logout Tutorial</a> by William S. Vincent I have decided on breaking out into some smaller sprints:</p>
<h3><ul>
  <li>Sprint 3: Create the login/logout dynamics</li>
  <li>Sprint 4: Create the new account user interface</li>
  <li>Sprint 5: Create the templates and views for posts and comments</li>
  <li>SPrint 6: Use CSS to make things look nice</li>
</ul></h3>

<h2>Breakdown of Sprint 3:</h2>
<ol>
  <li>No need to install anything <code>'django.contrib.auth'</code> is automatically included in the <code>INSTALLED_APPS</code> under settings.py</li>
  <li>Create <code>urlpatterns</code> with <code>'django.contrib.auth.url'</code> for accounts URL. This contains quite a few <a href="https://docs.djangoproject.com/en/2.0/topics/auth/default/#module-django.contrib.auth.views"> Authentication Views</a> <br>
  </li>
  <em>I discover after writing out the following steps that the tutorial uses a project without an app, whereas my project has an app. A comment suggests we should create the templates and URLs within the main project folder, not the app folder. I will stick with that for now.</em>
  <li>Create a login page</li>
  <ol type='a'>
    <li>Django by default looks in 'templates/registration/' for auth templates</li>
    <li>Create 'login.html' file in this template directory</li>
    <li>Enter html code into this file</li>
    <li>The code contains a form element with a method attribute of "post", as well as <code>{$ csrf_token %}</code> and <code>{{ form.as_p}}</code> and a login button. I understand that the former helps mitigate security risks and the latter wraps each input in a paragraph, however I don't understand where the from content comes from. The code somehow knows to supply the 'login' and 'password' fields. Maybe it will click once I actually implement it on my site. </li>
    <li> <em>My best guess is that Django must know login.html corresponds to the 'login' view </em> </li>
  </ol>
  <li>Update 'settings.py' to have Django look for templates within the imtwitter directory</li>
  <li>Set <code>LOGIN_REDIRECT_URL = '/'</code> to set the login reditect to the homepage <br>
  <em> <strong>It worked! :D</strong><br> I had trouble because for some reason my project is an extra folder so I had to change the DIRS from 'templates' to 'imtwitter/templates'. Thanks to the debugging tools and checking my local directory it was pretty easy to figure out.</em>
  </li>
  <li>Create more superusers to try logging in (I should be able to log in with my current superuser account)</li>
  <li>Create template for homepage in the templates directory (<em>The tutorial directs to create home.html and base.html. I'm not completely certain why this is the case but I think it should make sense as I complete the tutorial. I currently don't have any templates, I am using <code>HttpResponse</code> to put some text on my home page.</em>)</li>
  <li>Import TemplateView URLconf (<em>Just to spice things up, I did the last two steps in the IMTwitter folder. It seems to be working out alright!</em>)</li>
  <li>Create a link for logging out on within the template</li>
  <li>Add <code>LOGOUT_REDIRECT_URL</code> to redirect to the homepage as well</li>
  <li>There's some shifting around of the views and urls that I'm not certain about, however I think it will make sense as I complete the tutorial.</li>
</ol>
<p>Wow, creating the login/logout interface was much simpler than I expected. Talking with the Python group today it sounded like it would have been much more of hassle. Of course, I still need to create the account creation app, this might be a bit more challenging!</p>
<p>I also learned a bit about how Django <code>{% extends 'base.html' %}</code> and <code>{% block content %} {% endblock %}</code> works. This will allow me to have the same template HTML file and a variety of different bodies that I specify in other HTML files. Pretty nifty!</p>
<p>I'm excited to move on with creating the account creation app. It's awesome to see all of these pieces coming together, but I know I have plenty of work past this. To summarize-</p>
<h2>Left to Complete</h2>
<h3><ul>
  <li>Sprint 4: Create the new account user interface</li>
  <li>Sprint 5: Create the templates and views for posts and comments</li>
  <li>(new) Sprint 6: Update model to incorporate users</li>
  <li>Sprint 7: Use CSS to make things look nice</li>
</ul>
</h3>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
