<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "style.css" %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

</head>
<body><div class="container">
<h1>Day 2: Lynda Course Sidequest</h1>
<em>April 29, 2018 at 11:52am</em>

<p>I spent a bit of time this morning reading through the <a href="https://docs.djangoproject.com/en/2.0/topics/forms/">documentation</a> on how Django does forms. It's starting to click a bit more how the forms for login and createaccount were populated with the Djagno code in the HTML files. I think it will take me creating my own form for user post and comments to fully understand the procedure of making a form.</p>

<p>As mentioned in yesterday's recap. I will be working through this <a href="https://www.lynda.com/Django-tutorials/Welcome/594454/600921-4.html?autoplay=true">course on lynda.com</a> specifically about building a social network site with Django. I will continue to take notes on the process.</p>

<h2>Lynda.com <a href="https://www.lynda.com/Django-tutorials/Welcome/594454/600921-4.html?autoplay=true">Building a Social Website</a> </h2>
<p>With the tutorials it's easier to get an overview and outline the procedure like I did yesterday. With a video course it's harder to scan through and write out the procedure ahead of time. So the outline I write for this will be written as I move along with my notes <em>in italic.</em></p>
<p>Note: You can find the side-project outlined below at this <a href="https://github.com/mbeche/bookmarks_lynda_course">GitHub Repository</a> </p>
<h4>Video 1: Getting Project Set Up</h4>
<ol>
  <li>Create a virtual environment</li>
  <li>Install Django.<br>
  <ul>
    <em>Good thing we're making a virtual environment because the course uses Django 1.8.2, whereas my IMTwitter project is in 2.0.2. I forgot to ask in the interview what version the team uses.</em>
  </ul>
  <li>Start project a project named <code>bookmarks</code> </li>
  <li>Move into <code>bookmars</code> project and start an app named <code>account</code> (<em>presumably to create the user account creation interface</em>) </li>
  <li>Go into <code>settings.py</code> and add <code>'account'</code> to <code>INSTALLED_APPS</code> list.</li>
  <ul>
    <em>I'm still confused why we use <code></code>'account' instead of <code>'account.apps.accountConfig'</code>, however it looks like there is no <code>apps.py</code> file in the <code>account</code> app directory. Perhaps this is one of the differences between Django 1 and Django 2.</em> </li>
  </ul>
  <li>Make initial migrations</li>
</ol>
<h4>Video 2: Using Django Authentication Framework</h4>
<ol>
  <li>Great explanation about the auto-installed <code>django.contrib.auth</code> and <code>auth.middleware</code></li>
  <li>The above contains several views (<em>I believe the one I used to create the login page</em>) as well as models:</li>
  <ol type="a">
    <li>User: Contains basic fields (name, email, etc), username, and password</li>
    <li>Group: Categorizing users (<em>I don't think I'll use this much</em>)</li>
    <li>Permission: <em>How I will keep registered users from making posts and comments.</em> </li>
  </ol>
  <li>The purpose of the Log-In View we will create:</li>
  <ol type="a">
    <li>Get username and password</li>
    <li>Authenticate the user data in the database</li>
    <li>Check if the user is active</li>
    <li>Log the user into the website</li>
  </ol>
  <li>This project has us create manual forms: we begin with the login form in a <code>forms.py</code> file under the account app directory. </li>
  <li>Edit <code>views.py</code> file in the account directory to add <code>user_login</code> view. This view has several if/else statements that does one thing or another depending on where the user login credentials are valid, or whether the user credentials are authenticated (<em>Sounds like a bit of overkill for my purpose, but I can see the benefit</em>).</li>
  <li>Create a URL view for this in the account directory.</li>
  <ol>
    <em>Came across another difference between Django 1 and Django 2: url routing syntax. We use <code>r'^login/$'</code> in Django 1 but it's a more intuitive <code>'login/'</code>in Django 2. Not sure of the original syntax but I like the new version better.</em>
  </ol>
  <li>Create urlpatterns in the main bookmarks project to include the URLs from the account app.</li>
  <li>Create a templates view, starting with a <code>base.html</code> template in <code>bookmarks/account/templates/</code> and then create a <code>login.html</code> template in <code>bookmarks/account/templates/account/</code> </li>
  <li>Notes on creating html files:</li>
  <em><ol type="a">
    <li>We use the same base.html with a content block to fill in templates that extend base.html.</li>
    <li>This course has us {% load staticfiles %} for using a css file. I'm glad for this because I didn't get to practice loading static files in the tutorials.</li>
    <li>This course has use create a common header in our base file to be used in all html extension templates. I can see this being a valid choice for content you want to be the same on every page on your site.</li>
    <li>The <code>login.html</code> code doesn't contain any recognizable reference to the login form we created - I will just need to continue reading the documentation I mentioned at the beginning of this post to figure that out.</li>
  </ol></em>
  <li>Create a superuser to test login page. (admin, admin@bookmarks.edu, django1234)</li>
  <li>I loaded up the server and created a user in the admin interface (after fixing a few typos) ('Apples123' / pw: 'tastesgood')</li>
  <li>This course didn't show how to actually load the static files, but it did provide the CSS. So I downloaded the CSS and looked up in documentation how to load the static file path</li>
  <li>Woot, login interface successful! Next to create logout. While we created this view from scratch, the course talks about how these views and more (like password change and reset) are provided by Django.</li>
  <ol>
    <em>The course recommends using this <a href="https://docs.djangoproject.com/en/2.0/topics/auth/default/">piece of documentation</a> to help understand the provided authentication views from Django. </em>
  </ol>
  <li>Adding <code>URLconf</code> for login, logout, and logout-then-login. Commenting out the views we made for login. </li>
  <li>Just like before, we setup a <code>registration</code> folder in the templates directory for the standard views for authentication </li>
  <li>This time when creating the <code>login.html</code> we created the form with the attribute <code>action="{% url "login" %}"</code>, connecting it to the standard login form. <strong>Why didn't we do this in the other tutorial?</strong> This makes sense, but how I did it in my main project does not.. </li>
  <li>After creating login and logout html files we are creating a new dashboard view for when the user successfully logs in (<em>First time using a <code>@</code> command in Django. It appears to send the user onto another html page after successful login.</em>)</li>
  <li>To create this dashboard, we need to:</li>
  <ol type="a">
    <li>Create a template HTML in <code>bookmarks/account/template/account</code></li>
    <li>Create a URLconf</li>
    <li>Create url locations for <code>LOGIN_REDIRECT</code>, <code>LOGIN</code>, and <code>LOGOUT</code> in the main <code>settings.py</code> file. </li>
    <li>I have seen an explanation for why to use reverse_lazy to create the url instead of just reverse, but it hasn't clicked yet</li>
  </ol>
  <li>We now will make login and logout links to the template.</li>
  <li>Everything is working well except when I click logout it brings it to the generic Django logged out page: <em>"Thanks for spending some quality time with the Web site today."</em>, rather than the <em>"You have been successfully logged out. You can log-in again"</em> I specified in my <code>logged_out.html</code> file. I can't figure out why. It's not the worst problem but it's a bit frustrating! All my trouble-shooting, checking the documentation provided in the course, I can't see what's wrong.</li>
</ol>
<p>This was an interesting learning process. I feel like I understand a bit better how to go about making the user authentication flow in Django. However, it looks like this course goes forward in making a bookmark and image sharing app. This is not the intent with my project so I will likely switch routes tomorrow when I hit back on the trail to figure out how to setup my templates and models for posts and comments.</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
