<h1>Day 3: Setting up forms and expanding views/templates</h1>
<em>April 30, 2018 at 3:45pm</em>

<p>After spending time yesterday working through part of that project on Lynda, I've decided to move back to my primary project to see if I can work my way through including users in my model. Becuase I'm moving into uncharted teritory for myself, I will be doing more code exploration and less blogging - so my updates might get fewer in between.</p>

<h3>
  <p>Working on Today:</p>
  <ul>
    <li>Sprint 5: Create the models, templates and views for posts and comments</li>
    <li>Sprint 6: Use CSS to make things look nice</li>
  </ul>
</h3>

<h2>Sprint 5: Create the models, templates and views for posts and comments</h2>
<ol>
  <li>Connect posts and comments to user in model with ForeignKey</li>
  <ol type="a">
    <li>To create a ForeignKey for the user in the model I need to put argument <code>on_delete</code> to <code>CASCADE</code> so that (<em>I believe</em>) the post gets deleted when the user gets deleted. I could use another parameter like <code>SET_NULL</code> or <code>SET_DEFAULT</code> to keep the post if the user is deleted, but I think it's fine with cascade. </li>
    <li>I set the default value for the ForeignKey to 1, which should be my superuser</li>
  </ol>
  <em>Wow, that was a lot easier than I expected, now I have to create some templates, URLs and views to diplay the posts and comments in a coherent fasion</em>
  <li>Create a dashboard that users can go to to access the posts of all users (and eventually post new posts/comment).</li>
  <li>Add to the dashboard template the posts:</li>
  <ol type="a">
      <li>I went to the views command and added the following:</li>
      <ol type="i">
        <li>At the top of the page: <code>from .models import Post</code> and <code>
        from .models import Comment</code> to import the posts and comments from my database.</li>
        <li>Within the dashboard request function <code>posts = Post.objects</code> and <code>
        comments = Comment.objects</code> to load the posts and comments into the dashboard.</li>
        <li>Within the <code>dashboard.html</code> I added a loop:<code>  {% for post in posts.all %} Here are some posts: {{ post.post_text }} {% endfor %} </code> </li>
      </ol>
  </ol>
  <li>This did not work. There's something wrong with the way I'm trying to get the data from the database and the rendering of the dashboard. I'm trying to dig into posts and documentation to figure this out but I'm not coming up with much. I might have to dig deeper into some of the classes I've stepped away from.</li>
  <li>It looks like I needed to add the <code>.all()</code> command to the end of the data I was trying to pull from the database. Thinking about loading comments if a post has a comment will be a more complex task, I think I should move forward with just posts for now.</li>
  <li>I couldn't give up on getting comments to work so I figured out <code>prefetch_related</code> could work. However currently I'm loading every comment on each post, not just comments related to that post.</li>
  <li>After another hour or so of poking around and searching through documentation and posts, I found a solution:</li>
  <ol type="a">
    <li>Views was left with the original <code>comments = Comment.objects.all()</code> dashboard request function</li>
    <li>Dashboard.html contains: <code>{% for comment in post.comment_set.all %}</code></li>
  </ol>
  I'm not certain yet how "comment_set" works and why I put the <code>all()</code> in the view but drop the parenthesis for the template with <code>all</code>.
  <li>Creating <code>forms.py</code> file in <code>imtweet</code> to allow users to leave posts or comments. </li>
  <li>I used this <code><a href="https://tutorial-extensions.djangogirls.org/en/homework_create_more_models/"></a>Django Girls Advanced Tutorial</code> to help me piece through making a form to create a comment. It took a while because I had to backtrack through her normal tutorial to check out the model she created. I also had to import some shortcut functions like <code>get_object_or_404()</code> and <code>redirect()</code>, as well as change some values - like the redirect back to the dashboard. I had to load a regular expression path for the comment link.</li>
  <li>I really would like it if I could have forms inline and then the page automatically update with comments, but this would involve more complex form work and the use of AJAX. I will try to add this in once I get all the other components set up.</li>
  <li>One issue that remains is that there is a drop down menu for the user. This means anyone can claim to comment as any other user. I am thinking of a workaround but I need a way to get the current username with Django - maybe there's a built in function for that.</li>
  <li>Yes, I was able to solve that the same way I had the submission html for a comment complete the pub_date field in the model. Now it automatically detects whoever is logged in.</li>
</ol>

<p>I'm pushing into uncharted territory with this project but I sure am enjoying it. It's fun using a bunch of resources to figure out how to move forward with your project. I know after I'm done with this project I will still use courses and tutorials to learn things, but this is helping me become more confident in my ability to just figure things out on my own.</p>

<h3>
  <p>Work for Another Day:</p>
  <ul>
    <li>Sprint 5a: <em>Partially</em> Create the models, templates and views for posts and comments</li>
    <li>Sprint 5b: Add a form and the capability to make a new post to the social media website.</li>
    <li>Sprint 6: Use CSS to make things look nice</li>
    <li>Sprint 7: Go back and fill in some capabilities that I should add in: deleting a post, editing a post, etc</li>
  </ul>
</h3>
