/* line 5, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 27, ../sass/style.scss */
.nav {
  background-color: #053c5e;
  font-family: arial, tahoma;
  font-weight: bold;
  border-bottom: 2px solid #1f7a8c;
  border-top: 2px solid #1f7a8c;
  /* Change the link color to #111 (black) on hover */
}
/* line 34, ../sass/style.scss */
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 40, ../sass/style.scss */
.nav li {
  border-right: 2px solid #1f7a8c;
  float: left;
}
/* line 45, ../sass/style.scss */
.nav li:last-child {
  border-left: 2px solid #1f7a8c;
  float: right;
}
/* line 50, ../sass/style.scss */
.nav a {
  height: 40px;
  color: white;
  display: block;
  padding: 8px;
}
/* line 58, ../sass/style.scss */
.nav li a:hover {
  text-decoration: none;
  background-color: #1f7a8c;
  color: white;
}

/* line 65, ../sass/style.scss */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
  max-height: 378px;
  max-width: 600px;
}

/* line 72, ../sass/style.scss */
.carousel {
  max-width: 600px;
  margin: auto;
}

/* line 80, ../sass/style.scss */
.box {
  border-radius: 25px;
  color: white;
  margin: auto;
  background: #a31621;
  padding: 20px 20px 20px;
  display: inline-block;
}

/* line 89, ../sass/style.scss */
.body-box {
  border-radius: 25px;
  background: #bfdbf7;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  max-width: 30%;
  margin: .5em;
  padding: 5px 20px 5px;
}

@media only screen and (max-width: 600px) {
  /* line 99, ../sass/style.scss */
  .body-box {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  /* line 106, ../sass/style.scss */
  .body-box {
    max-width: 45%;
  }
}
/* line 111, ../sass/style.scss */
.project-box {
  opacity: 0.9;
  border-radius: 25px;
  background: #bfdbf7;
  max-width: 520px;
  margin: auto;
  padding: 2px 0px 15px 0px;
}
/* line 119, ../sass/style.scss */
.project-box a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

/* line 127, ../sass/style.scss */
html h1, html h2, html h3 {
  font-family: Bitter, Georgia, serif;
  padding: 0 1em;
}
/* line 131, ../sass/style.scss */
html h1 h1, html h2 h1, html h3 h1 {
  font-size: 3em;
}
/* line 135, ../sass/style.scss */
html h1 h2, html h2 h2, html h3 h2 {
  font-size: 2em;
}
/* line 139, ../sass/style.scss */
html h1 h3, html h2 h3, html h3 h3 {
  font-size: 2em;
}

/* line 146, ../sass/style.scss */
.header,
.footer {
  background: #db222a;
  padding: 1em 1em 1em;
}

/* line 152, ../sass/style.scss */
.bar {
  height: 40px;
  background: #053c5e;
  margin: auto;
}

/* line 159, ../sass/style.scss */
.avatar {
  -moz-box-shadow: 0 0 10px 4px #053c5e, 0 0 12px 6px #db222a, 0 0 14px 10px #a31621;
  -webkit-box-shadow: 0 0 10px 4px #053c5e, 0 0 12px 6px #db222a, 0 0 14px 10px #a31621;
  box-shadow: 0 0 10px 4px #053c5e, 0 0 12px 6px #db222a, 0 0 14px 10px #a31621;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 150px;
  height: 150px;
}

/* line 169, ../sass/style.scss */
section {
  background-color: #1f7a8c;
  border-top: 1px solid #1f7a8c;
  border-bottom: 1px solid #1f7a8c;
  border-collapse: collapse;
  padding: 0.5em 0.5em 0.5em;
}

/* line 177, ../sass/style.scss */
body {
  text-align: center;
  font: 1em/1.5 Georgia, serif;
  color: #black;
  background: #1f7a8c;
}

/* line 185, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 189, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?uhpmsn");
  src: url("fonts/icomoon.eot?uhpmsn#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?uhpmsn") format("truetype"), url("fonts/icomoon.woff?uhpmsn") format("woff"), url("fonts/icomoon.svg?uhpmsn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 208, ../sass/style.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 223, ../sass/style.scss */
.icon-envelop:before {
  content: "\e945";
}

/* line 226, ../sass/style.scss */
.icon-mobile:before {
  content: "\e958";
}

/* line 229, ../sass/style.scss */
.icon-linkedin:before {
  content: "\eac9";
}

/* line 233, ../sass/style.scss */
#contact {
  background: #77b3ee;
  max-width: 520px;
  padding: 20px 15px 20px 15px;
  border-radius: 25px;
  margin: auto;
  color: white;
}

/* line 243, ../sass/style.scss */
#linked {
  background: #053c5e;
  padding: 20px 15px 20px 15px;
  border-radius: 25px;
}

/* line 249, ../sass/style.scss */
#email {
  background: #a31621;
  padding: 20px 15px 20px 15px;
  border-radius: 25px;
}

/* line 255, ../sass/style.scss */
#phone {
  background: #1f7a8c;
  padding: 20px 15px 20px 15px;
  border-radius: 25px;
}

/* line 262, ../sass/style.scss */
.social {
  margin: 2em 0;
}
/* line 266, ../sass/style.scss */
.social li {
  font-size: 1.5em;
  color: white;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: .5em;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 275, ../sass/style.scss */
.social li:hover {
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  color: grey;
  text-shadow: 0px 0px 10px;
}
/* line 281, ../sass/style.scss */
.social li:hover #phone #email #linked {
  background: #36454f;
}
/* line 286, ../sass/style.scss */
.social li:before {
  position: absolute;
  width: 2em;
  /* center align technique, give width, negative half margin */
  margin-left: -1em;
  top: 0m;
  left: 50%;
}
/* line 294, ../sass/style.scss */
.social li a {
  display: block;
  color: inherit;
  font-family: Tahoma, Georgia, serif;
  padding: 1.50em 0em 0em;
  width: 6em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
